'fileTypes': [
  'ejs'
]
'name': 'EJS'
'foldingStartMarker': '(?x)\n\t\t(<(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)\\b.*?>\n\t\t|<!--(?!.*-->)\n\t\t|\\{\\s*($|\\?>\\s*$|//|/\\*(.*\\*/\\s*$|(?!.*?\\*/)))\n\t\t)'
'foldingStopMarker': '(?x)\n\t\t(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)>\n\t\t|^\\s*-->\n\t\t|(^|\\s)\\}\n\t\t)'
'patterns': [
  {
    'begin': '<(%|\\?)#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.begin.embedded.js'
    'end': '(%|\\?)>'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.end.embedded.js'
    'name': 'comment.block.embedded.js'
  }
  {
    'begin': '<(%|\\?)(%=|==|=:|=|)?'
    'captures':
      '0':
        'name': 'punctuation.section.embedded.js'
    'end': '(%|\\?)>'
    'name': 'source.js.embedded.html'
    'patterns': [
      {
        'captures':
          '1':
            'name': 'keyword.control.include.embedded.js'
          '2':
            'name': 'string.file-path.embedded.js'
        'match': '(include)\\s+(.+?)\\s+'
      }
      {
        'include': 'source.js'
      }
    ]
  }
  {
    'include': 'text.html.basic'
  }
]
'scopeName': 'text.html.js'
